<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.CraigOClean.helper</string>
    <key>MachServices</key>
    <dict>
        <key>com.CraigOClean.helper</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>com.CraigOClean.app</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/var/log/com.CraigOClean.helper.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/com.CraigOClean.helper.log</string>
</dict>
</plist>
